.adi-gauge {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #333;
  overflow: hidden;
}

.adi-circle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adi-display {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  z-index: 10;
}